.big-wra{
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
/* 最上面区域 */
.top{
	display: flex;
	height: 45px;
	line-height: 45px;
	text-align: center;
	flex-shrink: 0;
	background-color:#fff;
	color: rgb(51, 51, 51);
	font-size: 16px;
	box-sizing: border-box;
	padding-right: 45px;
	border-bottom:1px solid #999;
}
.top i{
	
	/* height: 15px; */
}
.top i img{
	height: 48px;
	flex-shrink: 0;
}
.top span{
	flex-grow:1;
}

/* 内容区域 */
.container{
	overflow: auto;
	flex-grow: 1;
	background-color: #eee;
}
.container .addre-empty{
	margin-top: 200px;
	display: none;
}
.container .addre-empty.show{
	display: block;
}
.container .addre-empty img{
	display: block;
	width: 90px;
	margin: 0 auto;
	
}
.container .addre-empty span{
	display: block;
	text-align: center;
	line-height: 50px;
	font-size: 13px;
	color: #666;
}
/* 地址列表 */
.container .addressList{
	display:none;
	
}
.container .addressList.show{
	display: block;
}
.addressList .address-item{
	display: flex;
	padding-left: 14px;
	border-bottom: 1px solid #ccc;
	background-color: #fff;
}
.address-item .addressinfo{
	height: 100px;
	flex-grow:1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.address-item .address-info{
	color:#333;
	font-size: 15px;
	display: flex;
	justify-content: space-between;
	
}
.address-item .addressinfo .street{
	line-height: 35px;
	color:#666;
	font-size:12px;
}
.address-item .addressinfo .default{
	color:blue;
	margin-bottom: 10px;
	font-size: 14px;
}
.address-item .icn{
	flex-shrink: 0;
	display: flex;
	align-items: flex-end;
}
.address-item .icn i{
	display: inline-block;
	height: 17px;
	padding:10px 16px 21px 10px;
	
}
.address-item .icn i img{

	height: 100%;
}
/* 底部区域 */
.footer{
	color: rgb(132, 95, 63);
	font-size: 14px;
	height: 60px;
	/* line-height: 25px; */
	text-align: center;
	flex-shrink: 0;
	background-color: #fff;
	box-sizing: border-box;
	/* padding: 10px; */
}
.footer .footIner-wra{
	height: 45px;
	line-height: 45px;
	margin: 10px;
	box-sizing: border-box;
	border: 1px solid #845F3F;
}
/* 新增收货地址蒙层 */
.addreMask{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,.3);
}
	
.addreMask .Mask{
	position: absolute;
	top: 20%;
	left:0;
	height: 80%;
	width: 100%;
	background-color: #eee;
}
.addreMask .Masktop{
	display: block;
	height: 30px;
	line-height: 30px;
	width: 100%;
	text-align: center;
	margin-bottom: 3px;
	background-color: #fff;
}