/* 页面框架布局样式 */
.page-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.page-header {
	height: 45px;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	padding: 0 12px;
}
.page-header input{
	height: 32px;
	border-radius: 16px;
	flex-grow: 1;
	border: 1px solid #ccc;
	box-sizing: border-box;
	padding-left: 35px;
	background-image: url(/images/index/search.png);
	background-repeat: no-repeat;
	background-position: 10px center;
	background-size: 20px;
	font-size: 12px;
	background-color: #f5f5f5;
}
.page-header input::-webkit-input-placeholder{
	color: #999;
}

.page-content {
	flex-grow: 1;
	border-top: 1px solid #b0b0b0;
	border-bottom: 1px solid #b0b0b0;
	display: flex;
	overflow: hidden;
}

/* 一级分类的样式 */
.page-content>.left {
	width: 95px;
	flex-shrink: 0;
	overflow: auto;
}

.page-content>.left ul {}

.page-content>.left ul li {
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;

}

.page-content>.left ul li span {
	flex-grow: 1;
	height: 24px;
	margin: 0 10px;
	font-size: 13px;
	color: #666;
	text-align: center;
	line-height: 24px;

}

.page-content>.left ul li.active span {
	color: #fff;
	background-color: red;
	border-radius: 12px;
}

.page-content>.right {
	flex-grow: 1;
	flex-direction: column;
	/* justify-content: center; */
	/* align-items: center; */
	display: flex;
	overflow: auto;
	border-left: 1px solid #b0b0b0;
	background-color: #EEEEEE;
}

.page-content>.right>img {
	/* flex-grow: 1; */
	height: 84px;
	margin: 10px;
	border-radius: 5px;
}
.page-content>.right .category-sub{
	background-color: #fff;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 10px;
	border-radius: 5px;
	box-sizing: border-box;
	padding: 5px 0px;
}


.page-content>.right  ul.category-sub {
	/* margin: 5px; */
	background-color: #fff;
	display:none;
	justify-content: center;
	flex-wrap:wrap;
	
}

.page-content>.right ul.category-sub li {
	display: flex;
	text-align: center;
	flex-grow: 1;
	margin-top: 5px;
	flex-direction:column;
}
.page-content>.right  ul.category-sub.active{
	display: flex;
}

.page-content>.right ul li img{
	width: 84px;
}
.page-content>.right ul li span{
	margin-top: 6px;
	font-size: 12px;
	color: #666;
}
.page-content>.right p.empty {
	display: none;
}
.page-content>.right p.empty.active{
	display: block;
	box-sizing: border-box;
	padding-left: 10px;
}
/* 页脚区域 */
.page-footer {
	height: 50px;
	flex-shrink: 0;
}
/* 购物车数量展示的圆圈样式 */
/* 数量小圆圈的定位 */
.page-footer li>a{
	position: relative;
}
	
.page-footer li a span.count{
	display: block;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	position: absolute;
	top: 5px;
	right: 15px;
	color: #fff;
	text-align: center;
	display: none;
	background-color:  rgb(227, 13, 13);
}
.page-footer li a span.count.show{
	display: block;
}
/* 页脚导航菜单样式 */
ul.nav {
	height: 100%;
	display: flex;
}

ul.nav li {
	flex-grow: 1;
	flex-basis: 0;
	display: flex;

}

ul.nav a {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

ul.nav span {
	font-size: 11px;
	color: #666;
}

ul.nav i {
	width: 24px;
	height: 24px;
	background-image: url("/images/nav_bg.png");
	background-size: 24px 240px;
}

ul.nav li:nth-child(1) i {
	background-position: 0 0
}

ul.nav li:nth-child(2) i {
	background-position: 0 -48px
}

ul.nav li:nth-child(3) i {
	background-position: 0 -96px
}

ul.nav li:nth-child(4) i {
	background-position: 0 -144px
}

ul.nav li:nth-child(5) i {
	background-position: 0 -192px
}

ul.nav li:nth-child(1)>a.active>i {
	background-position: 0 -24
}

ul.nav li:nth-child(2)>a.active>i {
	background-position: 0 -72px
}

ul.nav li:nth-child(3)>a.active>i {
	background-position: 0 -120px
}

ul.nav li:nth-child(4)>a.active>i {
	background-position: 0 -168px
}

ul.nav li:nth-child(5)>a.active>i {
	background-position: 0 -216px
}
